doctype html
html
	head
		title #{i18n.__("login.title")}
		<!--Import Google Icon Font-->
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		<!--Import materialize.css-->
		link(rel="stylesheet", href="/static/css/materialize.min.css", media="screen, projection")
		<!--Let browser know website is optimized for mobile-->
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body
		.container
			form(method="post", action="/!login")
				.row(style="margin-top: 10%")
					.col.s6.offset-s3
						.card.hoverable
							.card-content
								span.card-title #{i18n.__("login.card-title")}
								.row
									.input-field.col.s12
										i.material-icons.prefix account_box
										input(id="username", type="text", name="username")
										label(for="username") #{i18n.__("login.label_username")}
								.row
									.input-field.col.s12
										i.material-icons.prefix build
										input(id="password", type="password", name="password")
										label(for="password") #{i18n.__("login.label_password")}
								button.btn.waves-effect.waves-light.red.lighten-2(type="submit", name="action") #{i18n.__("login.button_login")}
									i.material-icons.right send
								a.btn.waves-effect.waves-light.red.lighten-2.right.modal-trigger(href="#passwordWindow") #{i18n.__("login.a_passwordBC")}
									i.material-icons.left lock
		.modal#passwordWindow
			.modal-content
				h4 #{i18n.__("login.#passwordWindow.h4")}
				p #{i18n.__("login.#passwordWindow.p")}
				input(type="text", id="passwordToConvert", placeholder=i18n.__('login.passwordToConvert.placeholder'))
				input(type="text", id="passwordConverted", placeholder=i18n.__('login.passwordConverted.placeholder'), readonly=true)
		script(src="/static/js/jquery-3.2.1.min.js", type="text/javascript")
		script(src="/static/js/materialize.min.js", type="text/javascript")
		script(src="/static/js/bcrypt.js", type="text/javascript")
		script.
			$(".modal").modal()
			var bcrypt = dcodeIO.bcrypt
			var showConverted = function() {
				var plain = $("#passwordToConvert").val()
				var hash = bcrypt.hashSync(plain, 8)
				$("#passwordConverted").val(hash)
			}

			$("#passwordToConvert").change(showConverted)