doctype html
html
	head
		title #{i18n.__("page.title")}
		<!--Import Google Icon Font-->
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		<!--Import materialize.css-->
		link(rel="stylesheet", href="/static/css/materialize.min.css", media="screen, projection")
		link(rel="stylesheet", href="/static/css/customize.css")
		<!--Let browser know website is optimized for mobile-->
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body
		header
			nav.top-nav
				.container
					.nav-wrapper
						a.page-title #{i18n.__("page.page-title")}
			ul.side-nav.fixed
				li
					a.nav-logo(href="/")
						i.material-icons local_cafe
						| #{i18n.__("nav-logo")}
				li
					.divider
				li
					a.subheader #{i18n.__("nav.subheader1")}
				li
					a.waves-effect(href="/!") #{i18n.__("nav.dashboard")}
				li
					a.waves-effect(href="/!post") #{i18n.__("nav.posts")}
				li.active
					a.waves-effect.white-text(href="/!page") #{i18n.__("nav.pages")}
				li
					a.waves-effect(href="/!logout") #{i18n.__("nav.logout")}
				li
					.divider
				li
					a.subheader #{i18n.__("nav.subheader2")}
				li
					a.waves-effect(href="/!stats") #{i18n.__("nav.stats")}
				li
					a.waves-effect(href="/!about") #{i18n.__("nav.about")}
		main
			.container
				.row
					.col.s12.m9.l10
						.section
							p.caption #{i18n.__("page.section1.caption1")} #{pages.length} #{i18n.__("page.section1.caption2")}.
							h2.header #{i18n.__("page.section1.header")}
						.section
							table.striped
								thead
									tr
										th #{i18n.__("page.section2.th")}
								tbody
									each file in pages
										tr
											td
												a(href="/!showpage?f=" + file)
													i.material-icons.left pages
													= file
		script(src="/static/js/jquery-3.2.1.min.js", type="text/javascript")
		script(src="/static/js/materialize.min.js", type="text/javascript")